---
import { currencyFormat } from "utils/helpers";
type Currencies = "eur" | "usd" | "gbp";
interface Props {
    rates: Record<string, Record<Currencies, number>>;
}

const { rates } = Astro.props as Props;

const platforms = {
    grey: "Grey Finance",
    send: "Send App",
    transferGo: "TransferGo",
};

const charts = Object.entries(rates).map(([key, value]) => ({
    title: platforms[key],
    ...value,
    charts: null,
    image: `images/${key.toLowerCase()}.png`,
}));
---

<section class="px-2 py-16" id="rates">
    <div
        class="mx-auto max-w-4xl shadow-md relative rounded-xl overflow-auto border-2 border-fx-gray-light dark:border-dark-fx-blue-light"
    >
        <table class="table-auto border-collapse w-full text-sm">
            <thead>
                <tr>
                    <th
                        class="font-normal p-6 text-left border-b border-slate-100 dark:border-dark-fx-blue-light"
                    >
                        Platforms
                    </th>
                    <th
                        class="font-normal p-6 text-left border-b border-slate-100 dark:border-dark-fx-blue-light"
                    >
                        1 EUR (€)
                    </th>
                    <th
                        class="font-normal p-6 text-left border-b border-slate-100 dark:border-dark-fx-blue-light"
                    >
                        1 GBP(£)
                    </th>
                    <th
                        class="font-normal p-6 text-left border-b border-slate-100 dark:border-dark-fx-blue-light"
                    >
                        1 USD($)
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white dark:bg-dark-fx-blue font-medium">
                {
                    charts.map((chart) => {
                        return (
                            <tr class="border-b border-slate-100 dark:border-dark-fx-blue-light">
                                <td class="p-6 inline-flex text-base capitalize">
                                    <img
                                        src={chart.image}
                                        alt=""
                                        class="h-8 w-8 flex-shrink-0 rounded-full mr-1"
                                    />
                                    <span>{chart.title}</span>
                                </td>
                                <td class="p-6 text-base">
                                    {currencyFormat(chart.eur)}
                                </td>
                                <td class="p-6 text-base">
                                    {currencyFormat(chart.gbp)}
                                </td>
                                <td class="p-6 text-base">
                                    {currencyFormat(chart.usd, "-")}
                                </td>
                            </tr>
                        );
                    })
                }
            </tbody>
        </table>
    </div>
</section>
